/*@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');

body {
	font-family: 'Comfortaa', cursive;
}

.container {
	margin-top: 0;
}

.heading {
	padding: 45px 0;
	color: #fff;
	background-color: #32a55a;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.heading h4 {
	font-size: 40px;
	margin-bottom: 0;
	font-weight: 700;
	color: #ffff36;
	text-align: center;
}

.heading h4 span {
	font-size: 17px;
	font-weight: 300;
	color: #fff;
}

.content {
	margin-top: 20px;
}

.ranking-name {
	font-weight: 700;
	font-size: 15px;
}

.ranking-score {
	font-weight: 700;
	font-size: 20px;
}

.ranking-owner {
	font-weight: 300;
	font-size: 13px;
}

input {
	margin-bottom: 20px;
}*/

body {
	background-color: #333;
	color: #fff;
}

.header {
	background-color: #000;
	border-bottom: solid 3px #FFBE0A;
	height: 65px;
}

.dem-fantasy-cta {
	color: #fff;
	background: rgb(255,190,10);
	background: linear-gradient(-90deg, rgba(255,190,10,1) 0%, rgba(167,95,2,1) 100%);
	border: none;
	padding: 10px 25px;
	border-radius: 6px;
	text-transform: uppercase;
	font-weight: 700;
}

.dem-fantasy-bottom-menu {
	background-color: #000;
	color: #fff;
	border-top: solid 3px #FFBE0A;
	padding: 15px 0;
	position: fixed;
    bottom: 0;
    width: 100%;
}

.dem-fantasy-create-acc-cta {
	width: 100% !important;
	color: #fff;
}

.dem-fantasy-tile {
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 150px;
	margin-top: 0;
}

.dem-fantasy-ranking {
	background-image: url("assets/bg-placeholder.jpg");
}

.dem-fantasy-myteam {
	background-image: url("assets/bg-placeholder.jpg");
}

.dem-fantasy-tile p {
	margin-top: 35px;
	text-align: center; 
	font-size: 50px;
}

.dem-fantasy-roster-player {
	background-color: #fff; 
	color: #333; 
	padding: 10px;
}

.dem-fantasy-roster p {
	color: #FFBE0A;
	font-weight: 700;
}

.dem-fantasy-roster-score {
	font-size: 20px; 
	font-weight: 700;
}

.dem-fantasy-player-stats {
	text-align: center; 
	margin-top: 15px;
}

.dem-fantasy-my-ranking-info {
	border-bottom: solid 3px #FFBE0A;
	margin: 0;
	padding: 15px;
}

.dem-fantasy-my-ranking-info h2 {
	padding: 0;
}

.dem-fantasy-my-ranking-info h3 {
	text-align: left;
	font-weight: 400;
	font-size: 20px;
}

.dem-fantasy-my-ranking-info h4 {
	font-weight: 300;
	font-size: 20px;
}

.dem-fantasy-ranking-list-item {
	background-color :#fff;
	color: #333;
	padding: 15px 0;
	margin-bottom: 5px;
}

.dem-fantasy-ranking-number {
	font-size: 40px;
	margin: 0;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 25px;
	line-height: 45px;	
}

.dem-fantasy-ranking-first {
	background-color: #FFBE0A;
}

.dem-fantasy-ranking-second {
	background-color: #AAA;
}

.dem-fantasy-ranking-third {
	background-color: #C87A2C;
}

.dem-fantasy-ranking-self {
	background-color: #FFBE0A;
}