/*@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');

body {
	font-family: 'Comfortaa', cursive;
}

.container {
	margin-top: 0;
}

.heading {
	padding: 45px 0;
	color: #fff;
	background-color: #32a55a;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.heading h4 {
	font-size: 40px;
	margin-bottom: 0;
	font-weight: 700;
	color: #ffff36;
	text-align: center;
}

.heading h4 span {
	font-size: 17px;
	font-weight: 300;
	color: #fff;
}

.content {
	margin-top: 20px;
}

.ranking-name {
	font-weight: 700;
	font-size: 15px;
}

.ranking-score {
	font-weight: 700;
	font-size: 20px;
}

.ranking-owner {
	font-weight: 300;
	font-size: 13px;
}

input {
	margin-bottom: 20px;
}*/

body {
	background-color: #333;
	color: #fff;
}

.header {
	background-color: #000;
	border-bottom: solid 3px #FFBE0A;
	height: 65px;
}

.dem-fantasy-cta {
	color: #fff;
	background: rgb(255,190,10);
	background: linear-gradient(-90deg, rgba(255,190,10,1) 0%, rgba(167,95,2,1) 100%);
	border: none;
	padding: 10px 25px;
	border-radius: 6px;
}

.dem-fantasy-bottom-menu {
	background-color: #000;
	color: #fff;
	border-top: solid 3px #FFBE0A;
	padding: 15px 0;
	position: absolute;
    bottom: 0;
    width: 100%;
}

.dem-fantasy-create-acc-cta {
	width: 100% !important;
	color: #fff;
}